@tailwind base;
@tailwind components;
@tailwind utilities;
.gradient-text {
    background-image: linear-gradient(to bottom, #06286E, #164EC0);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }